{% extends 'domain/index.html' %} 
{% block title %} Add your expense here {% endblock %} 
{% block content %}
<div class="col-sm-12 col-md-8 col-lg-8">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h6 class="mb-2 mt-2">Select Amount</h6>
    {{ expense_form.amount }}
    <h6 class="mb-2 mt-2">Whats it for?</h6>
    {{ expense_form.description }}
    <h6 class="mb-2 mt-2">Payment Interval</h6>
    {{expense_form.payment_interval}}
    <h6 class="mb-2 mt-2">Paid
      {{expense_form.paid}}
    </h6>
    <button type="submit" class="btn btn-primary btn-sm mt-3">
      Add Expense
    </button>
  </form>
</div>

{% endblock %}
